[Unit]
Description=gunicorn daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/pid"
User=app
Group=app
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0775
WorkingDirectory=/opt/weather-jamesooo/
ExecStart=/usr/local/bin/gunicorn \
          -c /etc/gunicorn.conf wsgi:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target

